[package]
name = "log-o-matic"
version = "0.1.0"
edition = "2024"

[dependencies]
base64 = "0.22.1"
chrono = "0.4.42"
clap = { version = "4.5.53", features = ["derive"] }
env_logger = "0.11.8"
log = "0.4.29"
rust-tuyapi = { path = "rust-tuyapi" }
serde_json = "1.0.148"
